<div class="row">
  
  <div class="col s8 offset-s2 center-align">
    <br /><h4>Blocipedia: Social, Markdown Wikis</h4><br />
    <div class="card light-blue lighten-2 white-text"><br />
      <h5>Create and share Markdown Wikis</h5><br />
      <%= link_to "Sign Up", new_user_registration_path, class: 'waves-effect waves-light grey darken-1 btn' %><p></p><br />
    </div>
  </div>
  
</div>

<div class="row">
  
  <div class="col s4 offset-s2 center-align">
    <div class="card grey darken-1 white-text">
      <p>Create as many public<br />
      wikis as you want with our<br />
      Free Plan!</p>
    </div>
  </div>
  
  <div class="col s4 center-align">
    <div class="card grey darken-1 white-text">
      <p>Create private wikis<br />
      with a paid<br />
      Premium Plan!</p>
    </div>
  </div>
  
</div>