<div class="row">
  <div class="col s8 offset-s2">
    
    <br /><h4 class="center-align">All Wiki's</h4><br />
    
    <table class="bordered hoverable">
      <tbody>
        <% @wikis.each do |wiki| %>
          <tr>
            <td><%= link_to wiki.title, wiki_path(wiki.id) %></td>
            <td class="right-align">Created by <%= wiki.user.name %></td>
          </tr>
        <% end %>  
      </tbody>
    </table><br /><br />

  </div>
</div>
